body{
	background-color: lightgrey;
}


h1 {
	color: blue;
	font: 90px;
	text-decoration: underline;		
}
h2 {
	font-size: 30px;
	color: green;
}

#small2{
	color:purple;

}

.small {
	font: 15px;
}

span{
	font-style: italic;
}

h2 span {
	text-decoration: line-through;
}